# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/01-docker-terraform/
/01-docker-terraform/*
!/01-docker-terraform/Homework

!/02-workflow-orchestration/
/02-workflow-orchestration/*
!/02-workflow-orchestration/Homework

!/03-data-warehouse/
/03-data-warehouse/*
!/03-data-warehouse/Homework

!/04-data-warehouse/
/04-data-warehouse/*